// ? 숨김 콘텐츠를 위한 믹스인
@mixin sr-only {
  width: 1px;
  height: 1px;
  margin: 1px;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.sr-only,
legend {
  @include sr-only;
}
