$text-xs: 11px;
$text-sm: 12px;
$text-md: 13px;
$text-base: 14px;
$text-lg: 15px;
$text-xl: 16px;

$weight-light: 400;
$weight-bold: 700;

$spacing-xs: 5px;
$spacing-sm: 8px;
$spacing-base: 15px;
$spacing-lg: 20px;
$spacing-xl: 24px;

$container-width: 740px;
