@use "./../utils/" as *;

.main-wrapper {
  @include desktop {
    background: linear-gradient(to bottom, #bae5fb82 260px, $white 245px);
  }

  @include mobile {
    background: linear-gradient(to bottom, $secondary-color 250px, $white 200px);
  }
}

.main {
  @include flexbox(column, flex-start, center);
  @include autoMargin;
  @include paddingY(50px);
  position: relative;
  max-width: 740px;
  height: 505px;
  margin-bottom: 15px;
  text-align: center;

  @include mobile {
    @include paddingY(42px);
    height: 387px;
    margin-bottom: 19px;
  }

  .menu {
    display: inline-block;
    order: 1;
    padding: 8px 24px;
    margin-top: 30px;
    border: 1px solid $primary-color;

    @include mobile {
      margin-top: 15px;
      padding: 8px 18px;
    }
  }

  .slogan-en {
    font-size: 32px;
    span {
      font-weight: $weight-bold;
      color: $primary-color;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @include mobile {
        display: block;
      }
    }
  }

  .slogan-en::after {
    @include autoMargin;
    @include marginY(30px);
    content: "";
    display: block;
    width: 40px;
    height: 0.5px;
    background-color: $black;

    @include mobile {
      @include marginY(15px);
    }
  }

  .menu-item1 {
    @include desktop {
      position: absolute;
      top: 48px;
      left: 0%;
      transform: translateX(-54px);
    }

    @include mobile {
      display: none;
    }
  }

  .menu-item2 {
    @include desktop {
      position: absolute;
      top: 130px;
      right: 0%;
      transform: translateX(180px);
    }

    @include mobile {
      @include posCenterX();
      width: 225px;
      bottom: 0;
    }
  }
}
