<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EDIYA</title>
</head>
<body>
  <header class="header">
    <h1 class="logo">

    </h1>
    <button class="open-navigation">
      <span class="navigation-icon-top"> </span>
      <span class="navigation-icon-middle"> </span>
      <span class="navigation-icon-bottom"> </span>
    </button>
    <ul class="navigation">
      <li><a href="/">이디야 디자인</a></li>
      <li><a href="/">로그인</a></li>
      <li><a href="/">회원가입</a></li>
      <li><a href="/">이디야 음료</a></li>
      <li><a href="/">이디야 뉴스</a></li>
      <li><a href="/">매장찾기</a></li>
    </ul>
  </header>
  <footer class="footer">
    <ul class="business">
      <li><a href="/">개인정보처리방침</a></li>
      <li><a href="/">멤버스 이용약관</a></li>
      <li><a href="/">가맹 안내</a></li>
      <li><a href="/">대량쿠폰 구매</a></li>
      <li><a href="/">채용안내</a></li>
      <li><a href="/">고객의 소리</a></li>
      <li><a href="/">사이트맵</a></li>
      <li><a href="/">점주의 방</a></li>
    </ul>
    <a href="" class="footer-logo">
      <img src="./src/assets/images/brand-dark.svg" alt="" />
    </a>
    <ul class="address">
        <li>
          <address>
            서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동 221-17)
          </address>
        </li>
        <li>
          <a href="tel:02-543-6467"><em>TEL</em> : 02-543-6467</a>
        </li>
        <li>
          <a href="tel:02-543-7191"><em>FAX</em> : 02-543-7191</a>
        </li>
        <li>
          <em>
            사업자등록번호 
          </em>
          : 107-86-16302
        </li>
        <li>
          <em>
            통신판매업 신고 
          </em>
          : 강남 제 002519호
        </li>
        <li>
          <em>
            대표이사
          </em>
          : 문창기
        </li>
      </ul>
    <small>
     &copy; 2017 EDIYA COFFEE COMPANY.ALL RIGHTS RESERVED..
    </small>
  </footer>
</body>
</html>